.userContainer {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem 2rem;
    gap: 1rem;
}

@media only screen and (max-width: 578px) {
    .userContainer {
        flex-flow: column;
    }

    .userTextContainer {
        width: 100%;
    }
}

.userTextContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
    gap: 0.5rem;
}

.userName {
    display: flex;
    gap: 5px;
}

.userDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.userDetails p {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 880px) {
    .userDetails {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

.userLocation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 880px) {
    .userLocation {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

.viewProfileButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 125px;
    min-width: 125px;
}

.darkButton {
    color: #0f0e0e;
    background-color: #eeeeee;
}

.lightButton {
    background-color: #0f0e0e;
    color: #eeeeee;
}
